@font-face {
  font-family: 'Dancing Script';
  src: url('DancingScript-Regular.ttf');
}
body{
  margin: 0px auto 0px auto;
/*  text-align: center;*/
  font-family: 'Dancing Script';
  background-color: #02010a;
}

header{
  text-shadow: 1px 2px #02010a;
  color: white;
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #5b7989;
/*	background: -o-linear-gradient(right, #5CA861 , #BADFBC); /* For Opera 11.1 to 12.0 */
/*	background: -moz-linear-gradient(right, #5CA861 , #BADFBC); /* For Firefox 3.6 to 15 */
/*	background: linear-gradient(to right, #5CA861 , #BADFBC); /* Standard syntax */
}

.Titulo {
  text-align: left;
}
.Menu {
  word-spacing: 0.5em;
  text-align: right;
}

a{
  color: white;
}

.contenedor {
  width: 900px;
	display: flex;
  margin-left: 20%;
  align-items: center;

/* No se si va flex-flow */
	flex-flow: row wrap;
}

.imagen1{
  width: 100%;
  background-color: #82c3a6;
  text-align: center;
}
img{
  margin: 0;
  padding: 2px;
  padding-color: black;
  margin-bottom: 5px;
  background: -webkit-linear-gradient(left, #5CA861 , #BADFBC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #5CA861 , #BADFBC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #5CA861 , #BADFBC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #5CA861 , #BADFBC); /* Standard syntax */


}
